.list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin: 0;
  padding: 0;
  & .list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    list-style: none;
    font-family: 'Oswald';
    transition: all .2s ease-in-out;
    font-size: 2em;
    &:hover {      
      cursor: pointer;
      transform: scale(1.2);
    }
  }

}