.selection-group {
  padding: 1em;
}

.selection {
  color: #888;
  padding: 8px 10px;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
}

.label {
  font-size: 1.5em;
  padding-bottom: 1em;
  padding-right: 0.5em;
}