.sources {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 3em 0;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', sans-serif;
}

.sources .source__item:nth-child(2n) { color: rgb(224, 203, 15); }
.sources .source__item:nth-child(2n+1) { color: #181; }
.sources .source__item:nth-child(3n+1) { color: #33a; }
.sources .source__item:nth-child(4n+1) { color: #c38; }
.source__item {
  background: none;
  border: 2px solid #30c5ff;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}


@media screen and (max-width: $media-phone) {

  .source__item-name {
    font-size: 1.5em !important;
  }
}

