$max-width: 1920px;
$media-phone: 780px;
$media-tablet: 1024px;
$media-desktop: 1920px;
$color-dark-xl: #000000;
$color-dark-m: #333333;

$color-light-xs: #ffffff;

$color-main: #0BE6AF;
$color-main-light: #d8faf1;

$font-size-m: 16px;
$font-size-s: 12px;
$max-random-fontsize: 1em * 3;
$min-random-fontsize: 1em;